*{
    margin: 0px;
    padding: 0px;
  }
  
  .s{
    height:6px;
  }
  
  img{
    vertical-align: middle;
  }
  
  .cl{
    clear: both;
  }
  
  .App{
    
    width: 450px;
    
    margin: 0 auto;
    
  
  }
  
  .App .App-header{
    float: left;
    width: 450px;
    height: 60px;
    background-image: url('../img/title\(450x60\).png');
  }

 
  
  .App .body{
    float: left;
    width: 450px;
    
  
  }

  .App .App_list_title{
    float:left;
    width: 450px;

    text-align: center;
    margin: 0 auto;

    padding-top: 14px;

    font-size:35px; 		/*字体大小*/
    line-height: 40px;      /*行高*/
    font-family:幼圆,黑体; 	/*字体类型：如果没有幼圆就显示黑体，没有黑体就显示默认*/
    /*font-style:italic ;		/*italic表示斜体，normal表示不倾斜*/
    font-weight:bold;	/*粗体：属性值写成bolder也可以*/
    /*font-variant:small-caps;  /*小写变大写*/
    text-shadow:1px 0px 2px rgb(54, 53, 53);
    color: rgb(40, 86, 126);
  }
  
  .App .footer{
    float: left;
    width: 450px;
    height:60px;
    background-image: url('../img/footer\(450x60\).png');
  }

  .App .footer .footer_index{
    float:left;
    width: 222px;
    height: 60;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;

    font-size:20px; 		/*字体大小*/
  	line-height: 20px;      /*行高*/
  	font-family:幼圆,黑体;

    border-right: 6px solid rgb(44, 94, 138,0.9);

    text-decoration: none;
  }

  .App .footer .footer_index a:link , .App .footer .footer_index a:visited{
    text-decoration: none;
    color:white;
  }

  .App .footer .footer_index a:hover{
    text-decoration: none;
    color:white;
  }

  
  .App .footer .footer_index2{
    float:left;
    width: 222px;
    height: 60;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    

   
  }

  .App .footer .footer_index2 a:link , .App .footer .footer_index2 a:visited{
    text-decoration: none;
    color:white;
    font-size:20px; 		/*字体大小*/
  	line-height: 20px;      /*行高*/
  	font-family:幼圆,黑体;
  }

  .App .footer .footer_index2 a:hover{
    text-decoration: none;
    color:white;
    font-size:20px; 		/*字体大小*/
  	line-height: 20px;      /*行高*/
  	font-family:幼圆,黑体;
  }